.list{
  position: relative;
}
.total{
  padding: 40px 0 50px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  background-color: pink;
}
.lists{
  width: 280px;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top:100px;
  left:50%;
  margin-left: -140px;
}
.list-each{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom:1px solid #ccc;
}
.imgbox{
  margin-right: 10px;
}
.imgbox img{
  display: block;
  width: 40px;
}
.list-each>div:nth-child(2){
  flex-grow: 1;
}
.list-each>div:nth-child(2) span{
  display: block;
}
.list-each>div:nth-child(2) span:nth-child(1){
  color:deeppink;
  font-size: 20px;
}
.qty{
  display: flex;
}
.qty span{
  display: block;
  color:#ccc;
  text-align: center;

}
.qty span:nth-child(2){
  color:#fff;
  font-size: 14px;
  width: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: pink;
  margin: 0 20px;
}
.minus,.add{
  cursor: pointer;
  user-select:none;
}
