body{
  margin: 0;
}
.app{
  min-height: 100vh;
  padding-top: 40px;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main{
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.title{
  text-align: center;
}
.todo-list-wrap{
  flex-grow: 1;

}
.form-wrap{
  padding: 10px;
}
.actions-wrap{
  padding: 10px;
}
