.form{
  height: 100px;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5)
}
.form input{
  padding: 6px;
  outline: 0;
}
.form button{
  border:0;
  background-color: deeppink;
  color:#fff;
  line-height: 1.9;
}
