.dog{
  width: 1200px;
  margin: 0 auto;
}
.dog>img{
  width: 400px;
  margin: 0 auto;
  display: block;
}
.intrs{
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: left;
  position: relative;
}
.intrs>img{
  position: absolute;
  top:20px;
  right:10px;
}
